@import "functions.scss";
@import "main2.css";
@import "main3.css";
@import "fonts/stylesheet.css";
$blanco:#ffffff;
$negro:#000000;
$verde:#5aa09b;
$verde1:#335e55;
$verde2:#46847e;
$gris:#eaeaea;
$gris2:#dcdcdc;
$gris-blog1:#cdcdcd;
$gris-blog2:#f8f8f8;
$gris-blog3:#818181;
$azul:#001d7e;
$rosa:#c992b9;
$rojo1:#c23029;
$rojo2:#ff4942;
body{background:url('../img/home/patron.jpg')repeat;}
ul, h1, h2, h3,fieldset{
	margin:0;
	padding:0;
	font-family:'ralewaybold';
}
a,p,span,li{
	text-decoration:none;
	font-family:'ralewayregular';
}
fieldset{
	border:none;
}

.clear{clear:both}
.wrapper,.content{margin:0 auto;position:relative}
.wrapper{width:1024px}
.content{max-width:1600px; }
.display-inline{
	display:inline-block;
}

/////////////////////////////////////////////////////////////////////blog////////////////////////////////////////////////////////////////////////
.aside-article{
	width:290px;
	margin:10px 5px 10px 10px;
	vertical-align:top;
	color:$gris-blog3;
	& fieldset{
		margin: .9% 10px;
    	font-size: .9em;
    	& input[type="image"] {
			vertical-align: middle;
		}
		& input[type="text"] {
			width: 190px;
		}	
	}
}
.content-article{
	width:698px;
	margin:10px 10px 10px 5px;
	vertical-align:top;
}
.blog-titulo{
	margin:2% 0 2% 3%;
}
.blog-list{
	position:relative;
	margin:20px 10px 40px 10px;
	& h3{
		font-family: 'ralewayregular';
		position: relative;
		margin: 0 0 10px 0;
		font-size: 1em;
		&:before{
			content: '';
			position: absolute;
			width: 180px;
			bottom:-2px;
			left: 5px;
			border-bottom:1px solid $gris-blog3;
		}
	}
	& div{
		margin:5px;
		border:1px solid $gris-blog3;
		& ul{
			margin:10px;
			list-style: none;
			font-size: .8em;
		}
	}
}
/////////////////////////////////////////////////////////////////////home////////////////////////////////////////////////////////////////////////
.menu {
	position: absolute;
	top:16px;
	font-size:.6em;
	left:293px;
	&>li{
		margin-right:20px;
		&:after{
			content: '';
		    position: absolute;
		    border-right: 1px solid black;
		    height: 100%;
		    margin-left: 10px;
		}
		&:first-child{
			margin-left: 10px;
		}
		&:last-child{
			margin: 0;
			&:after{
				content: '';
				position: absolute;
			    border-right: none;
			    height: 100%;
			    margin:0;
			}
		}
		&>a{
			color: $negro;
		}
	}
}
.activate{

}
.top-menu{
	background:$blanco;
	height:47px;
	@include box-shadow(2px, 0, 5px, rgba(0,0,0,.4));
}
.logo{
	z-index: 1000;
	position: absolute;
}
.slide-home{
	width:100%;
	height:450px;
	.slide1{
		background:url('../img/home/slide1.jpg') 50% no-repeat;
	}
	.slide2{
		background:url('../img/home/slide2.jpg') 50% no-repeat;
	}
	.slide3{
		background:url('../img/home/slide3.jpg') 50% no-repeat;
	}
	>div{
		width:100%;
		height:450px;
	}
}
.home-article{
		border:none;
		margin-bottom: 0;
		@include border-radius(0px);
	& .arti_format{
		@include border-radius(14px);
		overflow: hidden;
	}
	& .home-top{
		@include border-radius-separate(14px,14px,14px,0)
	}
	& .home-titulo{
		margin: 1% 0 1.2% 7%;
    	font-size: 1em;
	}
	& fieldset{
		margin: .9% 0 0 31%;
		font-size: .9em;
		font-family:'ralewayregular';
		& input[type="image"] {
				vertical-align: middle;
			}	
	}
	&>div{
		padding:23px 10px 10px 10px;
	}
}
.home-2col{
	width:49.2%;
	display:inline-block;
	padding:3px;
	vertical-align:top;
	& .home-titulo{
		margin: 1% auto 1.2% auto;
		text-align: center;
	}
}
.bock-home{
	@include background-gradient ($blanco,$gris2);		
	@include border-radius(14px);
	border: 2px solid $blanco;
	display:inline-block;
	width:310px;
	height:155px;
	margin:14px 7px;
	padding:0;
	vertical-align:top;
	text-align:center;
	& img{
		@include transition(all, .3s, ease-in-out);
	}
	&:hover img{
		-ms-transform: scale(1.2,1.2); /* IE 9 */
		-webkit-transform: scale(1.2,1.2); /* Chrome, Safari, Opera */
		transform: scale(1.2,1.2);
	}
	& figure{
		width: 220px;
		display: inline-block;
		margin: 20px 0 0 0;
		& figcaption{
			font-family: 'ralewaymedium';
			font-size: .9em;
		}
	}
}
.cotiza{
	position:absolute;
	font-family:'ralewaybold';
	@include background-gradient ($verde2,$verde1);
	right:0px;
	width:168px;
	height:30px;
	z-index: 0;
	top:42px;
	line-height:32px;
	color:$blanco;
	padding:0 0 0 10px;
	@include border-radius-separate(0,0,10px,10px);
	
}
.blog{
	& .content-blog-home{
		margin:0 0 20px 0;
		&>div:first-child{
			border:1px solid $gris-blog1;
			background:$gris-blog2;
			position: relative;
			padding:5px;
			& h2, h3{
				color: $gris-blog3;
				font-size: 1em;
				font-family: 'ralewaysemibold';
				margin-left: 10px;
			}
			& h3{			
				font-size: .7em;
			}
			&:before{
				content: '';
			    position: absolute;
			    height: 100%;
			    width: 5px;
			    background: $verde;
			    left: 0;
			    top: 0;

			}

		}
		&>div{
			position: relative;
			background:$blanco;
			padding: 10px;
			& figure,p{
				display: inline-block;
			}
			& p{
				width: 67%;
			    margin: 2% 0 2% 18px;
			    text-align: justify;
			    vertical-align: top;
			    font-size: .8em;
			}
			& a{
				position: absolute;
			    bottom: 10px;
			    right: 20px;
			    text-decoration: underline;
			    font-size: .8em;
			    color: $azul;
			    &:before{
					content: '';
				    position: absolute;
				    border-left:8px solid $rosa;
				    border-top:6px solid transparent;
				    border-bottom:6px solid transparent;
				    right: -10px;
				    bottom: 2px;
			    }
			}
		}
	}
}
.banco-sangre{
	@include background-gradient ($rojo1,$rojo2);
	border-top:3px solid $blanco; 
	border-bottom:3px solid $blanco; 
	position:relative;
	& p{
		color: $blanco;
		font-size: 1.5em;
		text-align: center;
		margin:0;
		padding:10px 0;
	}
	& figure{
		position:absolute;
		right: 120px;
		top: -25px;
	}
}
/////////////////////////////////////////////////////////////////////footer////////////////////////////////////////////////////////////////////////
.aseguradoras{
	background:url('../img/home/background-footer.jpg') repeat-x;
	height:222px;
	@include box-shadow(0px, 0px, 7px, rgba(0, 0, 0, 0.5));
}
.certificaciones{
	background:url('../img/home/background-footer2.jpg') repeat-x;
	height:88px;
	@include box-shadow(0px, 0px, 7px, rgba(0, 0, 0, 0.5));
	& figure:first-child{
		margin: 0 0 0 55px;
	}
	& figure:nth-child(2){
		margin: 0 171px 0 120px;
	}
}
.footer-content{
	background:$gris;
	& .box-footer{
		width: 22%;
		display: inline-block;
		margin: 30px 10px 10px 10px;
		font-size:.6em;
		height: 130px;
		vertical-align: top;
		&>h3{
			text-align: left;
			margin: 0;
			padding: 0 0 5px 0;
			border-bottom:1px solid $verde;
		}
		& li{
			list-style: none;
			margin: 10px 0;
		}
		& fieldset{
			margin: 10px 0;
			padding: 0;
			border: none;
			& label{
				width: 62px;
				display: inline-block;
				margin: 0 0 5px 0;
			}
			& input[type="text"],textarea{
				width: 144px;
				display: inline-block;
				border:1px solid $gris;
			}
			& textarea{
				height: 50px;
			}
			& input[type="button"] {
			    margin: 5px  0 0 162px;
			    border: 1px solid $gris;
			    background: $verde;
			    color: $blanco;
			}		
		}
	}
}
.logos-aseguradora{
	margin:40px 0 45px 0;
}
.content-atendemos{
	background:$verde;
	height:48px;
	position:relative;
}
.titulo-footer{
	color: $blanco;
	margin: 10px 0 10px 54px;
	font-size:1.5em;
	position: absolute,
}
.redes{
	width:26px;
	height:26px;
	display:inline-block;
	margin:10px auto;
}
.face-footer{
	background:url('../img/home/face-footer.png') no-repeat;
	margin:10px 10px 10px 75px;
}
.twitter-footer{
	background:url('../img/home/twitter-footer.png') no-repeat;
}